*{
    box-sizing: border-box;
}

h2, h3{
    margin: 0;
}

body{
    background-color: blue;
    margin: 20px 0;
    font-family:sans-serif;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

header{
    padding: 50px;
}

header > #logo{
    font-size: 2em;
}

main{
    padding: 50px;
    overflow: hidden;
}

section{
    float: left;
    width: 70%;
}

article{
    padding: 30px 0;
    border-bottom: 1px solid gray;
}

article:last-child{
    border-bottom: 0px;
}

aside{
    float: right;
    width: 30%;
    background-color: yellow;
    padding: 10px;
}

aside h3{
    background-color: red;
    color: white;
    padding: 10px;
}

aside a{
    color: black;
}

footer{
    padding: 20px;
    border-top: double;
    text-align: center;
}