*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: rgb(105, 105, 246);
}

.nah{
    padding: 10%;
    overflow: auto;
    text-align: center;
}

.btn{
    background-color: white;
    border: none;
    padding: 30px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}