*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: rgb(105, 105, 246);
}

nav{
    padding: 20px;
    background-color:aliceblue
}

.btn{
    background-color: white;
    border: none;
    padding: 30px;;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}