body{
    background-color: floralwhite;
}
header{
    background-color: red;

    padding: 20px;

    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;

    border-width: 5px;
    border-style: double;
    border-color: black;

    width: 500px;
    height: 50px;

    margin: 0 auto;
}
main {
    background-color: white;

    padding: 20px;

    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;

    border-width: 5px;
    border-style: double;
    border-color: black;

    width: 500px;
    height: 200px;

    margin: 0 auto;
}
footer {
    background-color: lightgreen;

    padding: 20px;

    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;

    border-width: 5px;
    border-style: double;
    border-color: black;

    width: 500px;
    height: 50px;

    margin: 0 auto;
}