* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: rosybrown;
}

.appcontainer{
    padding: 150px 1000px 150px 1000px;
    overflow: auto;
}

.app {
    background-color: white;
    padding: 50px;
    border-radius: 20px 20px;
    border: 3px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

